*{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

.first-sec{
    background: rgb(254, 248, 243);
    background-image: url("images/header_bg.png"),url("images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, 1.5%;
}

.dev-name{
    font-size:35px;
    font-weight: 1100;
}

.letter-r{
    color:rgb(255, 95, 31);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 250px 30px 160px;
}

nav ul{
    display: flex;	
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

#hire-btn{
    font-size: 18px;
    font-weight: 800;
    color: rgb(254, 248, 243);
    background:rgb(255, 95, 31);
    height: 60px;
    padding: 15px 30px;
    border: 0;
    border-radius: 5px;
}

.second{
    display: flex;
    align-items: center;
    margin: 0px 50px 0px 160px;
}
#hardy{
    margin-left: 80px;
}
.greeting{
    color: rgba(32, 30, 30, 0.521);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 3%;
}

.name{
    font-size: 75px;
    font-weight: 800;
    margin-bottom: 3%;
}

.intro{
    color: rgb(121, 119, 119);
    font-size: 18px;
    margin-bottom: 30px;
  }
  
#cv-btn{
    font-size: 18px;
    font-weight: 800;
    color: rgb(254, 248, 243);
    background:rgb(255, 95, 31);
    height: 60px;
    padding: 15px 25px;
    border: 0;
    border-radius: 5px;
}

#contact-btn{
    margin-left: 15px;
    font-size: 18px;
    font-weight: 800;
    color: rgb(255, 95, 31);
    background:rgb(254, 248, 243);
    height: 60px;
    padding: 15px 25px;
    border: 2px solid;
    border-radius: 5px;
}

.about-me{
    text-align: center;
    background: rgb(254, 248, 243);
    border-radius: 5px;
    padding: 120px 130px;
    margin: 150px 200px;
}

.am-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}
  
.am-intro{
    text-align: center;
    font-size: 15px;
    color: rgb(81, 79, 79);
    margin-bottom: 30px;
}
  
.about-me-box{
    display: flex;
    justify-content: space-around;
}

.am-info-title{
    color: rgb(81, 79, 79);
    font-size: 17px;
  }
  
.am-info-description{
    color: rgb(23, 23, 23);
    font-size: 18px;
    font-weight: 700;
  }
.wid{
    margin: 150px 250px;
}
.wid-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}
  
.wid-intro{
    text-align: center;
    font-size: 15px;
    color: rgb(81, 79, 79);
    margin-bottom: 0px;
}

.skill-area{
    margin: -100px 150px 100px 150px;
}
.wid-box{
    display: flex;
    gap: 20px;
}
  
.skill{
    border-radius: 5px;
    padding: 30px;
    width: fit-content;
    box-shadow: 0px 6px 50px rgba(30, 29, 29, 0.06);
}
  
.skill-title{
    color: hwb(0 9% 91%);
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
  
.skill-description{
    font-size: 16px;
    color: rgb(117, 117, 117);
}

.res-summary-title{
    text-align: center;
    color: rgb(42, 40, 40);
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 60px;
}
.res-title{
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0px;
}


.res-content{
    display: flex;
    gap: 20px;
    margin: 0px 150px 0px 150px;
}
  
.res-degree{
    margin-top: 30px;
    margin-bottom: 30px;
}
  
.resume-summary{
    color: rgb(71, 71, 71);
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.deg-n{
    color: rgb(71, 71, 71);
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.institute{
    color: rgb(117, 117, 117);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
  
 .res-description{
    color: rgb(117, 117, 117);
    font-size: 16px;
}
  
.res-btn{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 80px;
}

.connection{
    display: flex;
    gap: 100px;
    background: rgb(254, 248, 243);
    padding: 130px 200px;
}

.con-title{
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
  
.con-intro{
    text-align: left;
    font-size: 15px;
    color: rgb(81, 79, 79);
    margin-bottom: 20px;
}
  
.field {
  margin-bottom: 24px;
  padding: 18px 30px;
  border: 0;
  width: 100%;
}
